#button{
    border-style: none;
    color: white;
    border-radius: 4%;
    background-color: #2B8B44;
    margin-right: 10px;
    margin-left: 10px;
}

#input{
    border: none;
    border: 1px solid #292a2b;
    background-color: #1b1c1d;
    color: rgb(224, 224, 224);
}